process {
    withName:parseManifests {
        cpus = ""
    }

    withName:mergeFastqs {
        cpus = ""
    }

    withName:fastp {
        cpus = "${params.fastp_threads}"
    }

    withName:bwamem {
        cpus = "${params.bwamem_threads}"
    }

    withName:sambamba_merge {
        cpus = "${params.sambamba_merge_threads}"
    }

    withName:samtools_filter {
        cpus = "${params.samtools_filter_threads}"
    }

    withName:sambamba_markdup {
        cpus = "${params.sambamba_markdup_threads}"
    }

    withName:mosdepth {
        cpus = "${params.mosdepth_threads}"
    }

    withName:picard_CollectInsertSizeMetrics {
        cpus = ""
    }

    withName:picard_CollectMultipleMetrics {
        cpus = ""
    }
}