process {
    withName:parseManifests {
        cpus = ""
    }

    withName:mergeFastqs {
        cpus = ""
        memory = "${params.memory_merge_fastqs} GB"
    }

    withName:fastp {
        cpus = "${params.fastp_threads}"
        memory = "${params.memory_fastp} GB"
    }

    withName:bwamem {
        cpus = "${params.bwamem_threads}"
        memory = "${params.memory_bwamem} GB"
    }

    withName:sambamba_merge {
        cpus = "${params.sambamba_merge_threads}"
        memory = "${params.memory_sambamba_merge} GB"
    }

    withName:samtools_filter {
        cpus = "${params.samtools_filter_threads}"
        memory = "${params.memory_sambamba_markdup} GB"
    }

    withName:sambamba_markdup {
        cpus = "${params.sambamba_markdup_threads}"
        memory = "${params.memory_sambamba_markdup} GB"
    }

    withName:mosdepth {
        cpus = "${params.mosdepth_threads}"
        memory = "${params.memory_mosdepth} GB"
    }

    withName:picard_CollectInsertSizeMetrics {
        cpus = ""
    }

    withName:picard_CollectMultipleMetrics {
        cpus = ""
    }
}